<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Boxfactory</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [scrollY]="true">
  <div id="container">
    <!-- Search Bar -->
    <ion-searchbar (ionInput)="onSearch($event)"></ion-searchbar>

    <!-- Form for creating a box -->
    <ion-item>
      <ion-label position="stacked">Box Name</ion-label>
      <ion-input [(ngModel)]="newBox.boxName" placeholder="Enter Box Name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Box Weight</ion-label>
      <ion-input [(ngModel)]="newBox.boxWeight" placeholder="Enter Box Weight"></ion-input>
    </ion-item>
    <ion-button expand="full" (click)="createBox()">Create Box</ion-button>

    <!-- List of existing boxes with Delete buttons -->
    <ion-list [inset]="true">
      <ion-item *ngFor="let box of state.boxes">
        <ion-label>{{ box.boxId }}</ion-label>
        <ion-label>{{ box.boxName }}</ion-label>
        <ion-label>{{ box.boxWeight }}</ion-label>
        <ion-button (click)="deleteBox(box)">Delete</ion-button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
